@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition-1:all 0.25s ease-in-out 0s;
    --transition-2:all 0.5s ease-in-out 0s;
   --linkBlue:hsl(200, 100%, 49%);
   --conversation-width:768px;
   --sidebar-width:300px;
   --dataPanel-width:320px;
   --header-h:48px;
   --box-shadow-1:rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.6px;
   --bg-b:rgba(0, 0, 0, 0.818);
   --scrollbarBg:#ebedef ;
   --thumbBG:#c5c9cd;
   --sepia:#8f4a18;
   --tan2:#fefbe7;
   --tan:#ffeecd;
   --pink:#eb94cf;
   --red:#f59794;
   --yellow:#f0bf4c;
   --green1:#d4ed31;
   --green2:#9eeb47;
   --blue:#5bd1d7;
   --purple1:#bccefb;
   --purple2:#c6beee;
   --purple3:#b4a4f0;
   --vertical-header-width:90px;
   --lightblue:#ebf2fd;
   --bg-blur:rgba(56,57,59,.8);
   --sepia-filter:filter:sepia(0.9);
   --gradient:linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
   --gradient2: linear-gradient(to right, #005aa7, #fffde4);

    --p1:clamp(0.5rem, -0.6364rem + 5.6818vw, 3rem);
    --f1: clamp(2rem, 1.5455rem + 2.2727vw, 3rem);
    --f2:clamp(1.5rem, 1.2727rem + 1.1364vw, 2rem);
   --br:6px;
   --access-border:rgba(234, 76, 137, 0.4);
   --access-outline:#fbeef3;
   }

html.greyscale {
  filter: grayscale(1);
}

input, button, textarea, select {
  font: inherit;
}

   [data-theme="light"],[data-color="light"]{
     --bg-1:#FFFFFF; 
     --bg-2:hsl(60, 20%, 99%);
    --bg-3: #f5f5f5;
     --bg-4:#eeeeee;
     --bg-5:#c2c2c2;
     
    
     --t-1:#313547;
     --t-2:#38393B;
     --t-3:#898E96;
     --t-4:#989EA6;
     /* --accent:#FF4A01; */
    /* --accent:#00aaff; */
    --accent:#898E96;
     --gray0:#ffffff;
     --gray1: #fcfcfc;
     --gray2: #f8f8f8;
     --gray3: #f3f3f3;
     --gray4: #ededed;
     --gray5: #e8e8e8;
     --gray6: #e2e2e2;
     --gray7: #dbdbdb;
     --gray8: #c7c7c7;
     --gray9: #8f8f8f;
     --gray10: #858585;
     --gray11: #6f6f6f;
     --gray12: #171717;
     --grayA1: rgba(0,0,0,.012);
     --grayA2: rgba(0,0,0,.027);
     --grayA3: rgba(0,0,0,.047);
     --grayA4: rgba(0,0,0,.071);
     --grayA5: rgba(0,0,0,.09);
     --grayA6: rgba(0,0,0,.114);
     --grayA7: rgba(0,0,0,.141);
     --grayA8: rgba(0,0,0,.22);
     --grayA9: rgba(0,0,0,.439);
     --grayA10: rgba(0,0,0,.478);
     --grayA11: rgba(0,0,0,.565);
     --grayA12: rgba(0,0,0,.91);

   }
   [data-theme='dark'],[data-color="dark"] {
     --invert:0;
   
   
     --bg-1:#161616;
     --bg-2:#1c1c1c;
     --bg-3:#2b2b2b;
     --bg-4:#393939;
     --bg-5:#333333;

     --t-1:#ffffff;
     --t-2:#f2f2f2;
     --t-3:#7d8084;
     --t-4:#7c7f82;
     --accent:#FF4A01;
   
     --gray0:#000000;
     --gray1: #161616;
     --gray2: #1c1c1c;
     --gray3: #232323;
     --gray4: #282828;
     --gray5: #2e2e2e;
     --gray6: #343434;
     --gray7: #3e3e3e;
     --gray8: #505050;
     --gray9: #707070;
     --gray10: #7e7e7e;
     --gray11: #a0a0a0;
     --gray12: #ededed;
     --grayA1: hsla(0,0%,100%,0);
     --grayA2: hsla(0,0%,100%,.026);
     --grayA3: hsla(0,0%,100%,.056);
     --grayA4: hsla(0,0%,100%,.077);
     --grayA5: hsla(0,0%,100%,.103);
     --grayA6: hsla(0,0%,100%,.129);
     --grayA7: hsla(0,0%,100%,.172);
     --grayA8: hsla(0,0%,100%,.249);
     --grayA9: hsla(0,0%,100%,.386);
     --grayA10: hsla(0,0%,100%,.446);
     --grayA11: hsla(0,0%,100%,.592);
     --grayA12: hsla(0,0%,100%,.923);

     

   }

   *{
     box-sizing: border-box;
     /* transform-style: preserve-3d; */
    
     background-color: transparent;
     /* transition: var(--transition-1); */
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   @media(prefers-reduced-motion){
     html:focus-within{
       scroll-behavior: auto;
     }
   }
   html{
   scroll-behavior: auto;
   min-height: 100dvh;
   min-width:100vw;
   overflow-x: hidden;
   overflow-y: auto;

   }
   body {
    position: relative;
    background-color: var(--bg-1);
   min-height: 100dvh;
   margin:0;
   @apply flex flex-col items-center 
   }
   ::-webkit-scrollbar {
     width: 12px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background-color: var(--scrollbarBg);
     /* border-radius: 10px; */
     
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     border-radius: 20px;
     background: var(--thumbBG);
     
   }
   ::-webkit-scrollbar-thumb:hover {
     opacity: 0.8;
   }
  #notification {
    width:100vw;
    z-index: 100;
    position: fixed;
    bottom:24px; 
   
   
    
    @apply flex flex-col
    items-center justify-center   ;
  }
   
   #portal {
     width:min-content;
     position: fixed;
     top:0px;
     left:0px;
     
     @apply flex flex-col z-20
     items-center justify-center   ;  
     
   }
   ::selection{
     color: var(--bg-2);
     background-color: var(--t-2);
   }


header {
  width: 100vw;
  height: 60px;
  position:fixed;
  top: 0px;
  left: 0px;
  background-color: var(--bg-2);
  color: var(--t-1);
  
  @apply flex flex-row items-center
  justify-center
text-base 
  ;
}

header > nav {
  background-color:transparent;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid var(--bg-4);
  @apply flex flex-row items-center
  justify-center
  ;

}

.header__section {
  width:min(100vw,768px);
  @apply flex flex-row items-center px-3
}
.hamburger {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: var(--transition-1);
  transform: translate(-300px,0px);
  background-color: var(--bg-2);
  z-index: 1;
  color: var(--t-2);
  width:min(90vw,300px);
  border-right: 1px solid var(--bg-4);
  height: 100vh;
  @apply flex flex-col items-start
  text-base
}
.hamburger.open{
  transform: translate(0px,0px);
}

.hamburger__blur {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  height: 100vh;
  background-color: var(--bg-blur);
  @apply flex
}
.hamburger__link {
  transition: var(--transition-1);
  color:var(--t-3);
  @apply  flex gap-2 px-3 py-2 w-full 
  
  items-center
}
.hamburger__link.selected {
  color: var(--t-1);
  text-decoration:none;
  
  /* background-color: #2b2b2b;
  border: 1px solid var(--bg-4);
  @apply rounded-md */
}
.hamburger__link:hover {
  color: var(--t-1);
}
.hamburger__heading {
  color: var(--t-3);
  @apply uppercase text-xs
  px-3 mb-3
}
.hamburger__product {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: var(--transition-1);
  color: var(--t-3);
  @apply px-3 py-1 w-full text-left
}
.hamburger__product:hover{
  color: var(--t-2);
}
main {
  
  background-color:var(--bg-1);
  width: 100vw;
  flex:1 1 auto;
  @apply mt-[60px] 

}

.checkout__portal {
  margin-top: 0px;
  height: 100vh;
  background-color: var(--bg-1);
  @apply flex flex-col items-center
  px-3 py-0 overflow-auto
  ;
  
}

.checkout__item {
  background-color: var(--bg-2);
  transition: var(--transition-1);
  width: min(500px,100%);
  @apply flex flex-row rounded-md
  items-center flex-nowrap px-2 py-1
  ;
}


.checkout__button{
  
  transition: var(--transition-1);
  @apply  inline-flex flex-row items-center
  px-2 py-1 opacity-60  rounded-md
  text-center justify-center gap-2
  ;
}
.checkout__button.white {
  background-color:white;
  @apply shadow font-medium opacity-100
}


.checkout__button:hover {
  opacity: 1;
  background-color: var(--bg-3);
}
.product__desc {
  color: var(--t-3);

  @apply tracking-tight text-sm leading-7
}
.suggest__card {
  height: 320px;
  overflow: hidden;
  background-color: var(--bg-2);
  border: 1px solid var(--bg-4);
 @apply w-full flex 
 flex-col rounded-lg gap-4
 items-center justify-center
}
.suggest__card>button {
  height: 56px;
  transition: var(--transition-1);
  aspect-ratio: 1/1;
  color: var(--t-2);
  background-color: var(--bg-3);
  border: 1px solid var(--bg-4);
  @apply flex flex-row items-center
justify-center rounded-full

}
.suggest__card>button:hover{
  border-color: var(--bg-5);
  background-color: var(--bg-4);
}
.suggest__card>span {
  color: var(--t-3);
  @apply text-base
}
.product__card {
  overflow: hidden;
  border: 1px solid var(--bg-4);
 @apply w-full flex 
 flex-col rounded-lg
 items-start
}
.product__card__add{
  border: 1px solid var(--bg-4);
  transition: var(--transition-1);
  background-color:var(--bg-3);
  opacity:1;
  color: var(--t-2);
  /* transition: var(--transition-1); */
  @apply flex flex-nowrap  justify-center
  items-center gap-1 font-semibold
  px-4 py-2 rounded-md text-sm my-2
 
  ;
}
.product__card__add:hover,.product__card__view:hover{
  opacity: 0.8;
}

.product__card__view {
  border: 1px solid var(--bg-4);
  transition: var(--transition-1);
  background-color:var(--bg-1);
  opacity:1;
  color: var(--t-2);
  /* transition: var(--transition-1); */
  @apply flex flex-nowrap
  justify-center
  items-center gap-1
  px-4 py-2 rounded-md text-sm my-2
 
  ;
}

.product__card__button {
  color: var(--t-2);
  transition: var(--transition-1);
  @apply flex flex-row flex-nowrap items-center gap-1
  font-semibold text-sm px-2 py-2 rounded-md
}

.product__card__button:hover {
  background-color: var(--bg-3);
}



.checkout__portal>div:nth-of-type(1){
  width: min(100%,500px);
}







.skeleton {
  /* filter: blur(8px); */
  min-height: 200px;
  @apply  relative
  overflow-hidden
  
  ;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.skeleton > img, .checkout__skeleton>img {
  transition: var(--transition-1);
  opacity: 0;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}
.skeleton > img {
  position: absolute;
}
.skeleton::before,.checkout__skeleton::before {
  content: "";
 position: absolute;
  inset:0px;
  opacity: 0;
  animation: pulse 2.5s ease-in-out 0s infinite;
  background-color: var(--t-1);
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.skeleton.loaded >img,.checkout__skeleton.loaded >img {
  opacity: 1;
  cursor: pointer;
}

.checkout__skeleton{
  min-width: 96px;
  @apply  w-24 h-24 ml-auto relative
  rounded-md overflow-hidden cursor-pointer
  flex flex-row items-center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.checkout__skeleton>div {

}
footer {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  color:var(--t-1);
  background-color:var(--bg-3);
  border-top: 1px solid var(--bg-4);
  @apply w-[100vw] h-[60px] 
}

.Animator {
  width: 100%;
  height: min-content;
  margin-top: 2rem;
  opacity: 0;
  @apply flex flex-row items-start

  ;
  
  animation: enter 0.3s ease-in-out 0s 1;
  animation-fill-mode: forwards;
}

@keyframes enter {
  0%{
    margin-top:2rem;
    opacity: 0;
  }
  100%{
    margin-top:0rem;
    opacity: 1;
  }

}

.exit__fullScreen {
  position: absolute;
  background-color: var(--bg-1);
  color: var(--t-1);
  top: 0px;
  right: 0px;
  @apply px-3 
  my-1 mx-1 shadow
  py-2 h-11 w-11 
  
  rounded-full;

}

.exit__fullScreen__mini {
  position: absolute;
  background-color: var(--bg-1);
  color: var(--t-1);
  top: 0px;
  right: 0px;
  font-size:24px;
  @apply px-3  flex items-center justify-center
  my-1 mx-1 shadow
  py-2 h-8 w-8 
  
  rounded-full;
}

.about__icon {
  margin: 0 0.5rem;
  border: 1px solid var(--bg-4);
  background-color: var(--bg-3);
  color: var(--t-2);
  height: min-content;
  @apply flex px-2 py-1 text-sm
  justify-center items-center
  rounded-md opacity-70 flex-nowrap
}

.search__button {
  /* box-shadow: inset 0px 0px 37px 0px rgba(230, 227, 227, 0.356); */
  /* border: 1px solid var(--bg-3); */
  /* background-color: var(--bg-1); */
  color: var(--t-1);
  transition: var(--transition-1);
  @apply flex flex-row rounded-md
  items-center px-3 py-2 text-sm
 gap-1 ml-auto font-medium
  ;
}
.search__portal__container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0px;
  left:0px;

  background-color:transparent;
  @apply flex flex-col
  py-16 relative z-30
  items-center;

}
.search__portal__container >div:nth-child(1){
  width: 100vw;
  position: absolute;
  height: 100vh;
  inset: 0;
  background-color: rgba(26, 23, 23, 0.3);
  backdrop-filter: blur(5px);
}

.search__portal {
  outline: 1px solid var(--bg-4);
  transition: var(--transition-1);
  width: min(95vw,480px);
  
  background-color:var(--bg-2);
  @apply flex flex-col items-center
  z-10 overflow-x-hidden
  overflow-y-auto rounded-md relative
  ;
}
.search__portal.noblur {
  filter: blur(0px);
}
.search__portal__reset {
  color: var(--t-2);
  @apply cursor-pointer 
}
.search__form {
  color: var(--t-2);
  background-color:transparent ;
  width: min(95vw,480px);
  @apply flex flex-row items-center
  flex-nowrap gap-2 px-5 py-3 
  rounded-md
}

.search__portal input {
  color: var(--t-2);
  outline: none;
  border: none;
  @apply rounded-md 
  px-3 py-2 font-light
}

.header__link {
  transition: var(--transition-1);
  color: var(--t-3);
  @apply flex items-center 
  text-sm px-3 font-semibold
  gap-2;
}

.header__link.active {
  color: var(--t-1);
}
.header__link:hover {
  color: var(--t-1);
}


.header__cart {
  color: var(--t-2);
  box-shadow: inset 0px 0px 3px 0px rgba(255, 255, 255, 0.079);
  border: 1px solid var(--bg-3);
  @apply rounded-md w-full
  flex flex-row relative
  justify-center
  items-center gap-1 px-3 py-1
  h-10
}

.product__card__name {

  color:var(--t-2);
  @apply font-semibold text-base
  ;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product__card__price {
  color: var(--t-3);
  @apply flex text-base
}
.parent:hover >* {
  opacity: 0.6;
}
.parent:hover >*:hover {
  opacity: 1;
}
.parent:hover>*:hover>*{
  opacity: 1;
}

.notification__portal {
  
  min-width:min(90vw,300px);
  width: min(90vw,300px);
  background-color: transparent;
  @apply flex flex-row items-center
  gap-2  justify-center
  text-center
  ;
}

.notification__alert {
  

  background-color:#161616;
  color: whitesmoke;
  @apply w-full h-full px-3 py-3 
  rounded-md
  font-medium 
  ;
}
.notification__cancel {
  

 
  
  @apply w-full h-full px-3 py-3 
  rounded-md bg-red-50 text-red-900
  font-medium 
  ;
}
.notification__success {
  
  @apply w-full h-full px-3 py-3 
  rounded-md bg-green-50 text-green-900
  font-medium 
  ;
}
.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width:min(300px,90vw);
  height: 100vh;
  @apply  hidden
}





.auth__form {
  width: min(95vw,500px);
  background-color: var(--bg-2);
  color: var(--t-1);
  @apply px-0 py-3 sm:p-6 md:p-12
  rounded-md flex flex-col
  items-center

}
.auth__form label {
  color: var(--t-1);
  @apply mb-2 text-xs font-bold w-full
  mt-2
}
.auth__form input{
  border: 1px solid transparent;
  background-color: var(--bg-3);
  @apply px-4 py-3 rounded-md 
  w-full
  text-sm 
}
.auth__form input:focus{
  outline: 3px solid var(--access-outline);
   border:1px solid var(--access-border);
}
.auth__form button {
  transition: var(--transition-1);
  color:var(--t-1) ;
  background-color: var(--accent);
  @apply px-4 py-3 font-bold
  text-sm mt-6 rounded-md 
} 
.auth__form button:disabled {
  opacity: 0.6;
  filter: blur(1px);
}
.view__password {
  right: 0px;
  color: var(--t-1);
  cursor: pointer;
  font-weight: 700;
  background-color: transparent;
  @apply px-2 text-sm absolute
}
.view__password:active {
transform: scale(1.2);
}
.auth__form a {
  color: var(--accent);
  @apply text-xs 
  no-underline mt-6
  font-medium
}
.auth__form a:hover {
  @apply underline  
}
.auth__form h1 {
  color: var(--t-1);
  @apply text-2xl 
  mb-4
  font-bold 
}
.auth__portal {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bg-blur);
  @apply flex flex-col items-center

}

.auth__container {
  width: min(95vw,500px);
  @apply flex flex-col items-start
}

.auth__container__close {
  transition: var(--transition-1);
  color: var(--t-3);
  @apply flex 
  text-sm font-semibold
  items-center ml-auto p-3

}

.auth__container__close:hover {
  background-color: var(--bg-2);
  color: var(--t-1);
}

.email__banner {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  background-color: var(--bg-2);
  @apply flex flex-col items-center
  justify-center w-full py-12 relative
  ;
}

.email__banner h2 {
  color:var(--t-2);
  font-weight: 700;
  font-size: 28px;
}

.email__banner h6 {
  color: var(--t-3);
  @apply 
  mt-4 
  font-medium
  text-[15px];
}

.email__input{
  border: 1px solid var(--bg-4);
  box-shadow: inset 0px 0px 1px 0px rgba(248, 248, 248, 0.418);
  color: var(--t-2);
  background-color:var(--bg-3);
@apply flex-auto p-3.5 text-sm
rounded-md sm:max-w-[280px] 
}

.email__input:focus{
  outline:1px solid var(--accent);
}
.email__button {
  transition: var(--transition-1);
  color: var(--t-2);
  background-color: var(--bg-3);
  border:1px solid transparent;
  box-shadow: inset 0px 0px 1px 0px rgba(248, 248, 248, 0.418);
@apply p-3.5 text-sm
rounded-md font-bold
}
.email__button:hover {
  border: 1px solid var(--bg-4);
}
.title {
  background-color:transparent;
  font-size: var(--f1);
  color:var(--t-1);
  font-weight: 700;
  @apply leading-tight w-full 
  text-center pb-8 z-10
}

.hero {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  height: 320px;
  background-color:var(--bg-2);
  position: relative;
  @apply flex w-full flex-col items-center
  justify-center

}
.lines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  @apply flex flex-nowrap gap-0 overflow-hidden pr-12
}
.line {
  transition: var(--transition-1);
  transform: rotate(0deg);
  min-width:1px;
  position: relative;
  height: 100%;
  width: 1px;
  background-color: var(--bg-4);
  @apply ml-12
}
.line:hover {
  animation-play-state: paused;
}
.line__after {
  content: "";
  display: block;
  width: 1px;
  height: 32px;
  top: -50%;
  position: absolute;
  background: linear-gradient(to bottom, var(--bg-1) 0%, var(--t-1) 75%, var(--t-1) 100%);
  animation: drop 7s 0s infinite forwards;
  animation-timing-function: ease-in-out;
}
@keyframes drop {
  0%{
    top: -50%;
  }
  
  100%{
    top: 110%;
  }
}
.subheading {
  background-color: transparent;
  font-size:24px;
  color: var(--t-1);
}
.sale__container {
  height: 200px;
  width: 100vw;
  padding-right:var(--p1); 
  padding-left:var(--p1);
  background-color: var(--bg-2);
  border-top: 1px solid var(--bg-4);
  border-bottom: 1px solid var(--bg-4);
  @apply flex flex-row items-center
  ;
}
.sale__container.light {
  background-color: var(--bg-1);
}
.sale {
  width:100%;
  row-gap: 1rem;
  @apply grid grid-cols-1 sm:grid-cols-2

}

.sale__left {
  @apply flex flex-col items-center
   gap-1
}
.sale__left > h4 {
  font-size: 24px;
  color: var(--t-1);
  @apply font-semibold 
}
.sale__left > span {
  color: var(--t-3);
  @apply font-normal text-sm
}
.sale__right {
  margin: 0 auto;
 
  @apply grid grid-cols-4 
}
.sale__right__box {
  
  @apply flex flex-col px-3
}
.sale__right.light {
  row-gap: 1rem;
  @apply lg:grid-cols-4 grid grid-cols-2
}
.sale__right__box > h4 {
  color: var(--t-1);
  @apply text-xl font-semibold
}

.sale__right__box > h6 {
  color: var(--t-1);
  @apply text-xs font-semibold
}

.button__ {
  color: var(--t-3);
  transition: var(--transition-1);
  @apply flex flex-row items-center flex-nowrap
  gap-2 text-sm
}
.button__:hover {
  transform: scale(0.9);
}
.product__container {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  width: 100%;
  position: relative;
  @apply grid grid-cols-1 sm:grid-cols-2
  lg:grid-cols-3 lg:gap-6 gap-4 
}
.theme__button, .dropdown__button {
transition: var(--transition-1);
  @apply ml-auto px-3 py-3 
  mx-2 relative
  rounded-md
}
.color__dot {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  @apply rounded-full bg-red-600
}
.theme__button:hover,.search__button:hover {
  background-color: var(--bg-3);
}

.theme__button__menu, .dropdown__menu{
  z-index: 10;
  top:42px;
  left: -86px;
  background-color: var(--bg-1);
  color: var(--t-1);
  border: 1px solid var(--bg-4);
  display: none;
  @apply  flex-col p-1
  items-start absolute rounded-md
}

.theme__button__menu>button, .dropdown__menu>a {
  color: var(--t-1);
 
  transition: var(--transition-1);
  width: 118px;
  @apply text-sm cursor-pointer
  px-2 py-1.5 text-left 
  rounded-sm
}
.theme__button__menu>button:hover, .dropdown__menu>a:hover {
background-color: var(--bg-3);
}
.theme__button__menu[data-state="true"],.dropdown__menu[data-state="true"]{
  display: flex;
}
.container__ {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply flex flex-row 
  gap-4 w-full justify-between
}

.close__{
  display: block;
  cursor: pointer;
  z-index: 10;
  background-color:transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height:100dvh ;

}
.context__consumer {
  width: 100vw;
  min-height: 100dvh;
  background-color: var(--bg-1);
  flex: 1 1 auto;
  @apply flex flex-col items-center
}
.not__found {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  min-width: 100vw;
  min-height: 100dvh;
  @apply flex flex-col 
  justify-center items-center
  flex-auto gap-2
}

.not__found span {
  text-align: center;
  color: var(--t-3);
  width: min(500px,90vw);
}

.faq__{
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply  w-full 
  items-center gap-4
  flex flex-col py-16
}

.faq__about {
  width: min(652px,100%);
  @apply flex flex-col items-start
  gap-3 font-medium
}

.faq__list {
  @apply flex flex-col 
  gap-4
  items-center
  ;
  width: min(652px,100%);

}
.accordion {
  cursor: pointer;
  width: min(652px,100%);
  overflow: hidden;
  transition: var(--transition-1);
  background-color: var(--bg-2);
  border: 1px solid var(--bg-4);
  @apply 
 rounded-md  relative

}

.accordion:hover {
  border-color: var(--bg-5);
}
.accordion > label {
  color: var(--t-1);
  @apply flex justify-between 
  font-bold cursor-pointer
  text-sm w-full  px-4 py-3
}

.accordion > label > div{
  transition: var(--transition-1);
  @apply flex flex-row items-center
  justify-center
}
.accordion > input {
  position: absolute;
  opacity: 0 !important;
  z-index: -1;
}

.accordion > div {
  color: var(--t-3);
  max-height: 0;
    transition:all 0.3s ease-in-out 0s;
    @apply tracking-tight font-normal
    px-4 pb-0
    text-sm
}
.accordion > input:checked~div {
  max-height: 100vh;
  @apply pb-3

}

.accordion > input:checked ~ label>div{
  transform:rotate(135deg) ;
}

.suggest__portal{
  /* transform: translate(0%,-50%); */
  background-color: var(--bg-1);
  width: min(90vw,400px);
  height: min-content;
  @apply p-6 rounded-lg flex flex-col gap-4
}
.suggest__portal__container {
  width: 100vw;
  height: 100vh;
  background-color:transparent;
  @apply flex flex-col items-center
  justify-center relative
}

.suggest__portal__container::before{
content: "";
inset: 0;
position: absolute;
backdrop-filter: blur(5px);
background-color: rgba(26, 23, 23, 0.3);
z-index: -1;
}
.suggest__portal > p {
  color: var(--t-2);
  @apply text-sm font-medium
}

.suggest__portal h3{
  color: var(--t-1);
  @apply text-sm font-bold
}

.suggest__portal button.close {
  color: var(--t-1);
  transition: var(--transition-1);
  @apply w-10 h-10 rounded-md cursor-pointer
  font-semibold text-lg flex flex-row items-center
  justify-center
}
.suggest__portal button.close:hover {
  background-color: var(--bg-3);
}

.suggest__portal  form {
  @apply flex flex-col gap-4
}

.suggest__portal input[type="text"]{
  background-color: var(--bg-2);
  border: 1px solid var(--bg-3);
  @apply px-3 py-2 text-sm h-10
  rounded-md
}
.suggest__portal input[type="text"]:focus{
border: none;
outline: 2px solid var(--accent);
outline-offset: 1px;
}
.suggest__portal button.submit {
  background-color: var(--t-1);
  color: var(--bg-1);
  @apply w-full px-3 py-2 text-sm
  rounded-md h-10
  font-semibold
}

.product__category {
  color: var(--t-3);
  background-color: var(--bg-3);
  @apply flex flex-row items-center
  px-3 py-1 text-xs rounded-md
}

.product__info {
  @apply flex flex-col items-start 
  py-6 px-3
  w-full gap-4
}

.product__info >h3 {
  color: var(--t-3);
  @apply text-sm font-semibold
}

.product__info > ul {
  list-style: disc;
} 

.product__info li {
  line-height: 24px;
  /* list-style: circle; */
  color: var(--t-3);
  @apply text-sm px-0
}

.about__container {
  width: 100%;
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply grid grid-cols-1
   md:grid-cols-2 gap-4 py-6
}

.marquee__wrapper {
  width: 100vw;
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply flex flex-col items-center
  gap-4
}
.marquee__wrapper h2 {
  color: var(--t-1);
  @apply font-bold text-sm
}
.marquee__container {
  --item-width:240px;
  width:min(652px,100%);
  height: 128px;
  @apply overflow-hidden relative
  py-4
}
.marquee__container::before {
  position: absolute;
  left: 0px;
  z-index: 10;
  top: 0px;
  content: "";
  height: 100%;
  width:3rem;
  background: linear-gradient(to right, var(--bg-1), transparent);
}
.marquee__container::after {
  z-index: 10;
  position: absolute;
  content: "";
  height: 100%;
  right: 0px;
  top: 0px;
  width:3rem;
  
  background: linear-gradient(to left, var(--bg-1), transparent);
}
.marquee {
  top: 0px;
  
  transform: translate(100%,0%);
  height:100%;
  width: min-content;
  position: absolute;
  
  animation: marquee 60s linear -30s infinite ;
  @apply flex flex-row  
  items-center gap-4 pr-4
}
.marquee__container:hover >.marquee{
  transition: var(--transition-1);
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translate(100%,0%);
  }
  100% {
    transform: translate(-100%,0%);
  }

}
.marquee2 {
  margin-left:0px;
  
  animation-delay: 0s;
}
.marquee__item {
  height:100%;
  width:var(--item-width);
  
  border: 1px solid var(--bg-4);
  @apply flex flex-col gap-4 p-4 rounded-md
}

.marquee__item > h3 {
  color: var(--t-1);
  @apply font-medium text-sm
}
.marquee__item > p {
  color: var(--t-3);
  overflow-wrap: break-word;
  
  overflow: hidden;
  text-overflow: ellipsis;
  @apply font-normal text-sm
}

.more__link {
  border: 1px solid var(--bg-4);
  background-color: var(--bg-3);
  color: var(--t-1);
  transition: var(--transition-1);
  @apply flex flex-row w-full px-5 py-4 
  text-sm  items-center justify-between rounded-md
}
.more__link:hover {
  border-color: var(--bg-5);
  @apply px-6
}
.contact__form__container {
  width: 100vw;
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply flex flex-col items-center gap-4 py-6
}
.contact__form__container > h3 {
  color: var(--t-1); 
  @apply font-semibold text-2xl w-full text-start
}
.contact__form {
  border: 1px solid var(--bg-4);
  @apply flex flex-col items-center w-full gap-4 p-4
  rounded-md
}
.contact__form input {
  background-color: var(--bg-2);
  color: var(--t-1);
  @apply px-3 py-2 rounded-md text-sm
}
.contact__form textarea {
  background-color: var(--bg-2);
  color: var(--t-1);
  @apply px-3 py-2 rounded-md 
  w-full
  text-sm
}
.contact__form button {
  color:var(--t-1) ;
  transition: var(--transition-1);
  background-color: var(--bg-3);
  @apply px-3 py-2 rounded-md 
  w-full
  font-bold
}

.contact__form input:focus, .contact__form textarea:focus {
  outline: 2px solid var(--accent);
  outline-offset: 1px;
  border: none;
}

div:has(.hamburger__heading) > button {
  font-style: inherit;
  transition: var(--transition-1);
  color: var(--t-3);
  @apply leading-5 h-10 relative 
  font-medium text-sm px-3 cursor-pointer
}

.hamburger__button > span {
  @apply gap-1 inline-flex items-center
  cursor-pointer
}
.hamburger__button:not(.unactive):hover {
  cursor: pointer;
  color: var(--t-1);
}


.hamburger__button.unactive {
  filter: blur(2px);
  cursor: auto;
}

.padder {
  padding-right:var(--p1); 
  padding-left:var(--p1);
}
.contact__option__container {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4
  w-full py-6 
}
.contact__option {
  border: 1px solid var(--bg-3);
@apply flex
items-center w-full
flex-col gap-3 rounded-lg p-4
}

.contact__option h3 {
  color: var(--t-1);
  @apply text-xl font-semibold 
} 
.contact__option p {
    color: var(--t-3);
    overflow-wrap: break-word;
    @apply leading-5 text-sm
}

.contact__option button {
  color: var(--t-1);
  border:1px solid var(--bg-4);
  @apply flex items-center 
  text-sm rounded-md h-10 min-w-[100px]
  font-semibold px-3 py-3 justify-center
}

.pagnation {
  color: var(--t-1);
  width: min(90vw,400px);
  @apply flex flex-row
  justify-center text-sm
  flex-nowrap gap-4 ml-auto mr-auto
}
.pagnation button {
  transition: var(--transition-1);

}
.pagnation__left:hover,.pagnation__right:hover {

}

.pagnation button.active {
  color: var(--bg-1);
  background-color: var(--t-2);
  @apply h-8 w-8 rounded-md
}