@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition-1:all 0.25s ease-in-out 0s;
    --transition-2:all 0.5s ease-in-out 0s;
   --linkBlue:hsl(200, 100%, 49%);
   --conversation-width:768px;
   --sidebar-width:300px;
   --dataPanel-width:320px;
   --header-h:48px;
   --box-shadow-1:rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.6px;
   --bg-b:rgba(0, 0, 0, 0.818);
   --scrollbarBg:#ebedef ;
   --thumbBG:#c5c9cd;
   --sepia:#8f4a18;
   --tan2:#fefbe7;
   --tan:#ffeecd;
   --pink:#eb94cf;
   --red:#f59794;
   --yellow:#f0bf4c;
   --green1:#d4ed31;
   --green2:#9eeb47;
   --blue:#5bd1d7;
   --purple1:#bccefb;
   --purple2:#c6beee;
   --vertical-header-width:90px;
   --lightblue:#ebf2fd;
   --bg-blur:rgba(56,57,59,.8);
   --sepia-filter:filter:sepia(0.9);
   --gradient:linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
   --gradient2: linear-gradient(to right, #005aa7, #fffde4);
   }
   [data-theme="evening"]{
     --bg-1:#161c21;
     --bg-2:#161a20;
     --bg-3:#1f272f;
     --bg-4:#20272e;
     
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   
   }
   [data-color="purple"]{
     --bg-1:#bccefb;
     --bg-2:#9698f6;
     --bg-3:#6c5bf0;
     --bg-4:#4c2ceb;
     
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   
   }
   [data-color="green"]{
     --bg-1:#d4ed31;
     --bg-2:#aae425;
     --bg-3:#77d917;
     --bg-4:#4bd00b;
     
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   
   }
   [data-color="yellow"]{
     --bg-1:#ffe5aa;
     --bg-2:#fdd179;
     --bg-3:#fbba41;
     --bg-4:#faa612;
     
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   
   }
   [data-color="blue"]{
     --bg-1:#ebf2fd;
     --bg-2:#a4c2e7;
     --bg-3:#4f88cd;
     --bg-4:#0959b7;
     
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   
   }
   [data-color="red"]{
     --bg-1:#f59794;
     --bg-2:#f77c79;
     --bg-3:#f95c57;
     --bg-4:#fa443e;
     
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   }
   [data-theme="light"],[data-color="light"]{
     --bg-1:#FFFFFF; 
     --bg-2:hsl(60, 20%, 99%);
    --bg-3: #f5f5f5;
     --bg-4:#90909095;
     
    
     --t-1:#313547;
     --t-2:#38393B;
     --t-3:#898E96;
     --t-4:#989EA6;
   }
   [data-theme='dark'],[data-color="dark"] {
     --invert:0;
   
   
     --bg-1:#161616;
     --bg-2:#1c1c1c;
     --bg-3:#2b2b2b;
     --bg-4:#393939;
   
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   
   }
   [data-color="pink"]{
     --bg-1:#eb94cf;
     --bg-1:#eb94cf;
     --bg-1:#eb94cf;
     --bg-1:#eb94cf;
   
     --t-1:#ffffff;
     --t-2:rgb(242, 242, 242);
     --t-3:#7d8084;
     --t-4:#7c7f82;
   }
   *{
     box-sizing: border-box;
     /* transform-style: preserve-3d; */
     color: var(--t-1);
     background-color: transparent;
     /* transition: var(--transition-1); */
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   @media(prefers-reduced-motion){
     html:focus-within{
       scroll-behavior: auto;
     }
   }
   html{
   scroll-behavior: auto;
   min-height: 100dvh;
   min-width:100vw;
   overflow-x: hidden;
   overflow-y: auto;

   }
   body {
    position: relative;
    background-color: var(--bg-1);
   min-height: 100dvh;
   margin:0;
   @apply flex flex-col items-center 
   }
   ::-webkit-scrollbar {
     width: 12px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background-color: var(--scrollbarBg);
     /* border-radius: 10px; */
     
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     border-radius: 20px;
     background: var(--thumbBG);
     
   }
   ::-webkit-scrollbar-thumb:hover {
     opacity: 0.8;
   }
  
   
   #portal {
     width:min-content;
     position: fixed;
     top:0px;
     left:0px;
     
     @apply flex flex-col
     items-center justify-center   ;  
     
   }
   ::selection{
     color: var(--bg-2);
     background-color: var(--t-2);
   }


header {
  width: 100vw;
  height: 60px;
  position:fixed;
  top: 0px;
  left: 0px;
  background-color: var(--bg-2);
  color: var(--t-1);

  @apply flex flex-row items-center
  justify-center
text-base
  ;
}


header > nav {
  background-color: var(--bg-2);
  width: 100vw;
  height: 60px;
  @apply flex flex-row items-center
  justify-center
  ;

}
header>nav.light {
  background-color: var(--bg-3);
}
.header__section {
  width:min(100vw,768px);
  @apply flex flex-row items-center px-3
}
.hamburger {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: var(--transition-1);
  transform: translate(-300px,0px);
  background-color: var(--bg-3);
  z-index: 1;
  color: var(--t-2);
  width:min(90vw,300px);
  height: 100vh;
  @apply flex flex-col items-start
  text-base
}
.hamburger.open{
  transform: translate(0px,0px);
}

.hamburger__blur {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  height: 100vh;
  background-color: var(--bg-blur);
  @apply flex
}

main {
  background-color: transparent;
margin-top: 60px;
width: 100vw;
flex:1 1 auto
}

.checkout__portal {
  margin-top: 0px;
  height: 100vh;
  background-color: var(--bg-1);
  @apply flex flex-col items-center
  px-3 py-0
  ;
  
}

.checkout__item {
  background-color: var(--bg-2);
  transition: var(--transition-1);
  width: min(650px,100%);
  @apply flex flex-row rounded-md
  items-center flex-nowrap px-2 py-1
  ;
}
.checkout__item:hover {
  background-color: var(--bg-3);
}


.checkout__button{
  transition: var(--transition-1);
  @apply w-11 h-11 inline-flex flex-row items-center
  px-2 py-1 opacity-60
  ;
}



.checkout__button:hover {
  opacity: 1;
}
.product__card__button {
  background-color: var(--bg-3);
  opacity: 0.7;
  /* transition: var(--transition-1); */
  @apply flex flex-nowrap items-center gap-1
  px-4 py-2 rounded-full text-sm my-2
  ;
}
.product__card__button:hover{
  opacity: 1;
}

  .header__button.light{
    width: min-content;
    white-space: nowrap;
    border: 1px solid var(--bg-3);
    background-color: var(--bg-2);
    opacity: 0.6;
    filter: sepia(0.1);
    transition: var(--transition-1);
    @apply flex flex-row px-3 py-2
    rounded-md gap-1 flex-nowrap
    font-medium
    text-base items-center
    ;
}




  .header__button.dark{
    
    width: min-content;
    transition: var(--transition-1);
    opacity: 0.6;
    white-space: nowrap;
    border: 1px solid var(--bg-4);
    background-color: var(--bg-3);
    @apply flex flex-row px-3 py-2
    rounded-md gap-1 flex-nowrap 
    font-medium
    text-base items-center
    ;
  }



.header__button:hover {
  opacity: 1;
}


.checkout__portal>div:nth-of-type(1){
  width: min(100%,650px);
}
.hamburger__button{
  width: 100%;
  white-space: nowrap;
  border: 1px solid var(--bg-3);
  background-color: var(--bg-3);
  opacity: 0.6;
  filter: sepia(0.1);
  transition: var(--transition-1);
  @apply flex flex-row px-3 py-2
  rounded-md gap-3 flex-nowrap
  font-medium shadow
  text-base items-center
  ;
}
.hamburger__button.dark {
  width: 100%;
  transition: var(--transition-1);
  opacity: 0.6;
  white-space: nowrap;
  border: 1px solid var(--bg-4);
  background-color: var(--bg-3);
  @apply flex flex-row px-3 py-2
  rounded-md gap-1 flex-nowrap 
  font-medium
  text-base items-center
  ;
}


.hamburger__button.light {
  width: 100%;
  white-space: nowrap;
  border: 1px solid var(--bg-3);
  background-color: var(--bg-3);
  opacity: 0.6;
  filter: sepia(0.1);
  transition: var(--transition-1);
  @apply flex flex-row px-3 py-2
  rounded-md gap-1 flex-nowrap
  font-medium shadow
  text-base items-center
  ;
}

.hamburger__button:hover {
  opacity: 1;
}

.skeleton {
  /* filter: blur(8px); */
  min-height: 300px;
  @apply  relative
  rounded-md overflow-hidden
  
  ;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.skeleton > img, .checkout__skeleton>img {
  transition: var(--transition-1);
  opacity: 0;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}
.skeleton > img {
  position: absolute;
}
.skeleton::before,.checkout__skeleton::before {
  content: "";
 position: absolute;
  inset:0px;
  opacity: 0;
  animation: pulse 2.5s ease-in-out 0s infinite;
  background-color: var(--t-1);
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.skeleton.loaded >img,.checkout__skeleton.loaded >img {
  opacity: 1;
  cursor: pointer;
}

.checkout__skeleton{
  min-width: 96px;
  @apply  w-24 h-24 ml-auto relative
  rounded-md overflow-hidden cursor-pointer
  flex flex-row items-center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.checkout__skeleton>div {

}
footer {
  background-color: var(--bg-2);
  @apply w-[100vw] h-[60px] px-4
}

.Animator {
  width: 100%;
  height: min-content;
  margin-top: 2rem;
  opacity: 0;
  @apply flex flex-row items-start

  ;
  
  animation: enter 0.3s ease-in-out 0s 1;
  animation-fill-mode: forwards;
}

@keyframes enter {
  0%{
    margin-top:2rem;
    opacity: 0;
  }
  100%{
    margin-top:0rem;
    opacity: 1;
  }

}

.exit__fullScreen {
  position: absolute;
  background-color: var(--bg-1);
  color: var(--t-1);
  top: 0px;
  right: 0px;
  @apply px-3 
  my-1 mx-1 shadow
  py-2 h-11 w-11 
  
  rounded-full;

}

.exit__fullScreen__mini {
  position: absolute;
  background-color: var(--bg-1);
  color: var(--t-1);
  top: 0px;
  right: 0px;
  font-size:24px;
  @apply px-3  flex items-center justify-center
  my-1 mx-1 shadow
  py-2 h-8 w-8 
  
  rounded-full;
}

.about__icon {
  border: 1px solid var(--bg-4);
  background-color: var(--bg-3);
  color: var(--t-2);
  @apply flex px-2 py-1 text-sm
  justify-center items-center
  rounded-md opacity-70 flex-nowrap
}

.search__button {
  box-shadow: inset 0px 0px 37px 0px rgba(230, 227, 227, 0.356);
  border: 1px solid var(--bg-3);
  background-color: var(--bg-1);
  @apply flex flex-row rounded-md
  items-center px-3 py-2 text-sm
 gap-1 
  ;
}
.search__portal__container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0px;
  left:0px;
  background-color:var(--bg-blur);
  @apply flex flex-col
  py-16
  items-center;

}
.search__portal {
  transition: var(--transition-1);
  width: min(100vw,480px);
  background-color: var(--bg-1);
  @apply flex flex-col items-center
  overflow-y-auto rounded-md
  ;
}
.search__form {
  background-color: var(--bg-3);
  width: min(100vw,480px);
  @apply flex flex-row items-center
  flex-nowrap gap-2 px-5 py-3 
  rounded-md
}

.search__portal input {
  
  outline: none;
  border: none;
  @apply rounded-md 
  px-3 py-2 font-light
}

.icon {
  min-width: 40px;
  color: var(--t-2);
  filter: blur(0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../styles/images/pexels-photo-982673.jpg');
  @apply flex flex-row items-center
  justify-center
  rounded-md w-10 h-10
}
.header__link__container  {
  border: 1px solid var(--bg-3);
  margin: 0px 8px;
  background-color: var(--bg-1);
  box-shadow: inset 0px 0px 36px 1px rgba(0,0,0,0.1);
  @apply sm:flex flex-row 
  items-center flex-nowrap hidden p-1
  rounded-md gap-2
}
.header__link{
  transition: var(--transition-1);
  height: 32px;
  @apply rounded-md px-2 
  text-sm opacity-70 hover:opacity-100
  py-1 bg-[var(--bg-2)] gap-2
  sm:flex hidden  items-center
}

[data-theme="dark"].header__link.active {
opacity: 1;
color: var(--t-1);
box-shadow:inset 0px 0px 22px 10px rgba(0,0,0,0.1);
background-color: var(--bg-3);
border: 1px solid var(--bg-4);
}
[data-theme="light"].header__link.active{
  opacity: 1;
  color: var(--t-1);
box-shadow:inset 0px 0px 22px 0px rgba(252, 252, 252, 0.791);
background-color: var(--bg-2);
border: 1px solid var(--bg-1);
}

.header__cart {
  box-shadow: inset 0px 0px 3px 0px rgba(255, 255, 255, 0.079);
  border: 1px solid var(--bg-3);
  @apply  ml-auto rounded-md bg-[var(--bg-2)]
  flex flex-row relative

  hover:opacity-100 opacity-70
  items-center gap-1 px-3 py-1
  h-10
}

.product__card__name {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}