@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition-1:all 0.25s ease-in-out 0s;
    --transition-2:all 0.5s ease-in-out 0s;
   --linkBlue:hsl(200, 100%, 49%);
   --conversation-width:768px;
   --sidebar-width:300px;
   --dataPanel-width:320px;
   --header-h:48px;
   --box-shadow-1:rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.6px;
   --bg-b:rgba(0, 0, 0, 0.818);
   --scrollbarBg:#ebedef ;
   --thumbBG:#c5c9cd;
   --sepia:#8f4a18;
   --tan2:#fefbe7;
   --tan:#ffeecd;
   --pink:#eb94cf;
   --red:#f59794;
   --yellow:#f0bf4c;
   --green1:#d4ed31;
   --green2:#9eeb47;
   --blue:#5bd1d7;
   --purple1:#bccefb;
   --purple2:#c6beee;
   --purple3:#b4a4f0;
   --vertical-header-width:90px;
   --lightblue:#ebf2fd;
   --bg-blur:rgba(56,57,59,.8);
   --sepia-filter:filter:sepia(0.9);
   --gradient:linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
   --gradient2: linear-gradient(to right, #005aa7, #fffde4);

    --p1:clamp(0.5rem, 0.0455rem + 2.2727vw, 1.5rem);
    --f1: clamp(2rem, 1.5455rem + 2.2727vw, 3rem);
    --f2:clamp(1.5rem, 1.2727rem + 1.1364vw, 2rem);
   --br:6px;
   }

html.greyscale {
  filter: grayscale(1);
}

   [data-theme="light"],[data-color="light"]{
     --bg-1:#FFFFFF; 
     --bg-2:hsl(60, 20%, 99%);
    --bg-3: #f5f5f5;
     --bg-4:#eeeeee;
     
    
     --t-1:#313547;
     --t-2:#38393B;
     --t-3:#898E96;
     --t-4:#989EA6;
     --accent:#FF4A01;

     --gray0:#ffffff;
     --gray1: #fcfcfc;
     --gray2: #f8f8f8;
     --gray3: #f3f3f3;
     --gray4: #ededed;
     --gray5: #e8e8e8;
     --gray6: #e2e2e2;
     --gray7: #dbdbdb;
     --gray8: #c7c7c7;
     --gray9: #8f8f8f;
     --gray10: #858585;
     --gray11: #6f6f6f;
     --gray12: #171717;
     --grayA1: rgba(0,0,0,.012);
     --grayA2: rgba(0,0,0,.027);
     --grayA3: rgba(0,0,0,.047);
     --grayA4: rgba(0,0,0,.071);
     --grayA5: rgba(0,0,0,.09);
     --grayA6: rgba(0,0,0,.114);
     --grayA7: rgba(0,0,0,.141);
     --grayA8: rgba(0,0,0,.22);
     --grayA9: rgba(0,0,0,.439);
     --grayA10: rgba(0,0,0,.478);
     --grayA11: rgba(0,0,0,.565);
     --grayA12: rgba(0,0,0,.91);

   }
   [data-theme='dark'],[data-color="dark"] {
     --invert:0;
   
   
     --bg-1:#161616;
     --bg-2:#1c1c1c;
     --bg-3:#2b2b2b;
     --bg-4:#393939;
   
     --t-1:#ffffff;
     --t-2:#f2f2f2;
     --t-3:#7d8084;
     --t-4:#7c7f82;
     --accent:#FF4A01;
   
     --gray0:#000000;
     --gray1: #161616;
     --gray2: #1c1c1c;
     --gray3: #232323;
     --gray4: #282828;
     --gray5: #2e2e2e;
     --gray6: #343434;
     --gray7: #3e3e3e;
     --gray8: #505050;
     --gray9: #707070;
     --gray10: #7e7e7e;
     --gray11: #a0a0a0;
     --gray12: #ededed;
     --grayA1: hsla(0,0%,100%,0);
     --grayA2: hsla(0,0%,100%,.026);
     --grayA3: hsla(0,0%,100%,.056);
     --grayA4: hsla(0,0%,100%,.077);
     --grayA5: hsla(0,0%,100%,.103);
     --grayA6: hsla(0,0%,100%,.129);
     --grayA7: hsla(0,0%,100%,.172);
     --grayA8: hsla(0,0%,100%,.249);
     --grayA9: hsla(0,0%,100%,.386);
     --grayA10: hsla(0,0%,100%,.446);
     --grayA11: hsla(0,0%,100%,.592);
     --grayA12: hsla(0,0%,100%,.923);

     

   }

   *{
     box-sizing: border-box;
     /* transform-style: preserve-3d; */
    
     background-color: transparent;
     /* transition: var(--transition-1); */
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   @media(prefers-reduced-motion){
     html:focus-within{
       scroll-behavior: auto;
     }
   }
   html{
   scroll-behavior: auto;
   min-height: 100dvh;
   min-width:100vw;
   overflow-x: hidden;
   overflow-y: auto;

   }
   body {
    position: relative;
    background-color: var(--bg-1);
   min-height: 100dvh;
   margin:0;
   @apply flex flex-col items-center 
   }
   ::-webkit-scrollbar {
     width: 12px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background-color: var(--scrollbarBg);
     /* border-radius: 10px; */
     
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     border-radius: 20px;
     background: var(--thumbBG);
     
   }
   ::-webkit-scrollbar-thumb:hover {
     opacity: 0.8;
   }
  #notification {
    width:100vw;

    position: fixed;
    bottom:24px; 
   
   
    
    @apply flex flex-col
    items-center justify-center   ;
  }
   
   #portal {
     width:min-content;
     position: fixed;
     top:0px;
     left:0px;
     
     @apply flex flex-col
     items-center justify-center   ;  
     
   }
   ::selection{
     color: var(--bg-2);
     background-color: var(--t-2);
   }


header {
  width: 100vw;
  height: 60px;
  position:fixed;
  top: 0px;
  left: 0px;
  background-color: var(--bg-2);
  color: var(--t-1);
  
  @apply flex flex-row items-center
  justify-center xl:overflow-hidden
text-base 
  ;
}

header > nav {
  background-color:transparent;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid var(--bg-4);
  @apply flex flex-row items-center
  justify-center
  ;

}

.header__section {
  width:min(100vw,768px);
  @apply flex flex-row items-center px-3
}
.hamburger {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: var(--transition-1);
  transform: translate(-300px,0px);
  background-color: var(--bg-2);
  z-index: 1;
  color: var(--t-2);
  width:min(90vw,300px);
  border-right: 1px solid var(--bg-4);
  height: 100vh;
  @apply flex flex-col items-start
  text-base
}
.hamburger.open{
  transform: translate(0px,0px);
}

.hamburger__blur {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  height: 100vh;
  background-color: var(--bg-blur);
  @apply flex
}
.hamburger__link {
  transition: var(--transition-1);
  color:var(--t-3);
  @apply  flex gap-2 px-3 py-2 w-full 
  
  items-center
}
.hamburger__link.selected {
  color: var(--t-1);
  text-decoration:none;
  
  /* background-color: #2b2b2b;
  border: 1px solid var(--bg-4);
  @apply rounded-md */
}
.hamburger__link:hover {
  color: var(--t-1);
}
.hamburger__heading {
  color: var(--t-3);
  @apply uppercase text-xs
  px-3
}
.hamburger__product {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: var(--transition-1);
  color: var(--t-3);
  @apply px-3 py-1 w-full 
}
.hamburger__product:hover{
  color: var(--t-2);
}
main {
  
  background-color:var(--bg-1);
  width:min(1280px,100vw);
  flex:1 1 auto;
  @apply mt-[60px] 

}

.checkout__portal {
  margin-top: 0px;
  height: 100vh;
  background-color: var(--bg-1);
  @apply flex flex-col items-center
  px-3 py-0 overflow-auto
  ;
  
}

.checkout__item {
  background-color: var(--bg-2);
  transition: var(--transition-1);
  width: min(500px,100%);
  @apply flex flex-row rounded-md
  items-center flex-nowrap px-2 py-1
  ;
}


.checkout__button{
  
  transition: var(--transition-1);
  @apply  inline-flex flex-row items-center
  px-2 py-1 opacity-60  rounded-md
  text-center justify-center gap-2
  ;
}
.checkout__button.white {
  background-color:white;
  @apply shadow font-medium opacity-100
}


.checkout__button:hover {
  opacity: 1;
  background-color: var(--bg-3);
}
.product__desc {
  color: var(--t-3);

  @apply tracking-tight text-sm leading-7
}

.product__card {
  overflow: hidden;
  border: 1px solid var(--bg-4);
 @apply w-full flex 
 flex-col rounded-lg
 items-start
}
.product__card__add{
  border: 1px solid var(--bg-4);
  transition: var(--transition-1);
  background-color:var(--bg-3);
  opacity:1;
  color: var(--t-2);
  /* transition: var(--transition-1); */
  @apply flex flex-nowrap  justify-center
  items-center gap-1 font-semibold
  px-4 py-2 rounded-md text-sm my-2
 
  ;
}
.product__card__add:hover,.product__card__view:hover{
  opacity: 1;
}

.product__card__view {
  border: 1px solid var(--bg-4);
  transition: var(--transition-1);
  background-color:var(--bg-1);
  opacity:1;
  color: var(--t-2);
  /* transition: var(--transition-1); */
  @apply flex flex-nowrap
  justify-center
  items-center gap-1
  px-4 py-2 rounded-md text-sm my-2
 
  ;
}







.checkout__portal>div:nth-of-type(1){
  width: min(100%,500px);
}







.skeleton {
  /* filter: blur(8px); */
  min-height: 200px;
  @apply  relative
  overflow-hidden
  
  ;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.skeleton > img, .checkout__skeleton>img {
  transition: var(--transition-1);
  opacity: 0;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}
.skeleton > img {
  position: absolute;
}
.skeleton::before,.checkout__skeleton::before {
  content: "";
 position: absolute;
  inset:0px;
  opacity: 0;
  animation: pulse 2.5s ease-in-out 0s infinite;
  background-color: var(--t-1);
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.skeleton.loaded >img,.checkout__skeleton.loaded >img {
  opacity: 1;
  cursor: pointer;
}

.checkout__skeleton{
  min-width: 96px;
  @apply  w-24 h-24 ml-auto relative
  rounded-md overflow-hidden cursor-pointer
  flex flex-row items-center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.checkout__skeleton>div {

}
footer {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  color:var(--t-1);
  background-color:var(--bg-3);
  @apply w-[100vw] h-[60px] 
}

.Animator {
  width: 100%;
  height: min-content;
  margin-top: 2rem;
  opacity: 0;
  @apply flex flex-row items-start

  ;
  
  animation: enter 0.3s ease-in-out 0s 1;
  animation-fill-mode: forwards;
}

@keyframes enter {
  0%{
    margin-top:2rem;
    opacity: 0;
  }
  100%{
    margin-top:0rem;
    opacity: 1;
  }

}

.exit__fullScreen {
  position: absolute;
  background-color: var(--bg-1);
  color: var(--t-1);
  top: 0px;
  right: 0px;
  @apply px-3 
  my-1 mx-1 shadow
  py-2 h-11 w-11 
  
  rounded-full;

}

.exit__fullScreen__mini {
  position: absolute;
  background-color: var(--bg-1);
  color: var(--t-1);
  top: 0px;
  right: 0px;
  font-size:24px;
  @apply px-3  flex items-center justify-center
  my-1 mx-1 shadow
  py-2 h-8 w-8 
  
  rounded-full;
}

.about__icon {
  margin: 0 0.5rem;
  border: 1px solid var(--bg-4);
  background-color: var(--bg-3);
  color: var(--t-2);
  height: min-content;
  @apply flex px-2 py-1 text-sm
  justify-center items-center
  rounded-md opacity-70 flex-nowrap
}

.search__button {
  /* box-shadow: inset 0px 0px 37px 0px rgba(230, 227, 227, 0.356); */
  /* border: 1px solid var(--bg-3); */
  /* background-color: var(--bg-1); */
  color: var(--t-1);
  transition: var(--transition-1);
  @apply flex flex-row rounded-md
  items-center px-3 py-2 text-sm
 gap-1 ml-auto font-medium
  ;
}
.search__portal__container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0px;
  left:0px;

  background-color:var(--bg-blur);
  @apply flex flex-col
  py-16
  items-center;

}
.search__portal {
  transition: var(--transition-1);
  width: min(90vw,480px);
  background-color:var(--bg-2);
  @apply flex flex-col items-center
  overflow-y-auto rounded-md
  ;
}
.search__portal.noblur {
  filter: blur(0px);
}
.search__portal__reset {
  color: var(--t-2);
  @apply cursor-pointer 
}
.search__form {
  color: var(--t-2);
  background-color:transparent ;
  width: min(90vw,480px);
  @apply flex flex-row items-center
  flex-nowrap gap-2 px-5 py-3 
  rounded-md
}

.search__portal input {
  color: var(--t-2);
  outline: none;
  border: none;
  @apply rounded-md 
  px-3 py-2 font-light
}

.header__link {
  transition: var(--transition-1);
  color: var(--t-3);
  @apply flex items-center 
  text-sm px-3 font-semibold
  gap-2;
}

.header__link.active {
  color: var(--t-1);
}
.header__link:hover {
  color: var(--t-1);
}


.header__cart {
  color: var(--t-2);
  box-shadow: inset 0px 0px 3px 0px rgba(255, 255, 255, 0.079);
  border: 1px solid var(--bg-3);
  @apply rounded-md w-full
  flex flex-row relative
  justify-center
  items-center gap-1 px-3 py-1
  h-10
}

.product__card__name {

  color:var(--t-2);
  @apply font-semibold text-base
  ;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product__card__price {
  color: var(--t-3);
  @apply flex text-base
}
.parent:hover >* {
  opacity: 0.6;
}
.parent:hover >*:hover {
  opacity: 1;
}
.parent:hover>*:hover>*{
  opacity: 1;
}

.notification__portal {
  
  min-width:min(90vw,300px);
  width: min(90vw,300px);
  background-color: transparent;
  @apply flex flex-row items-center
  gap-2  justify-center
  text-center
  ;
}

.notification__alert {
  

  background-color:#161616;
  color: whitesmoke;
  @apply w-full h-full px-3 py-3 
  rounded-md
  font-medium 
  ;
}
.notification__cancel {
  

  background-color:#161616;
  color: whitesmoke;
  @apply w-full h-full px-3 py-3 
  rounded-md
  font-medium 
  ;
}
.notification__success {
  

  background-color:#161616;
  color: whitesmoke;
  @apply w-full h-full px-3 py-3 
  rounded-md
  font-medium 
  ;
}
.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width:min(300px,90vw);
  height: 100vh;
  @apply  hidden
}





.auth__form {
  width: min(95vw,500px);
  background-color: var(--bg-2);
  color: var(--t-1);
  @apply p-3 sm:p-6 md:p-12
  rounded-md flex flex-col
  items-center

}
.auth__form label {
  color: var(--t-1);
  @apply mb-2 text-xs font-bold w-full
}
.auth__form input{
  background-color: var(--bg-3);
  @apply px-4 py-3 rounded-md 
  w-full
  text-sm mb-2
}
.auth__form input:focus{
  outline: 1px solid var(--accent);
   /* border-color: var(--accent); */
}
.auth__form button {
  transition: var(--transition-1);
  color:var(--t-1) ;
  background-color: var(--accent);
  @apply px-4 py-3 font-bold
  text-sm mt-4 rounded-md
} 
.auth__form button:disabled {
  opacity: 0.6;
  filter: blur(1px);
}

.auth__form a {
  color: var(--accent);
  @apply text-xs 
  no-underline mt-6
  font-medium
}
.auth__form a:hover {
  @apply underline  
}
.auth__form h1 {
  color: var(--t-1);
  @apply text-2xl 
  mb-4
  font-bold 
}
.auth__portal {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bg-blur);
  @apply flex flex-col items-center

}

.auth__container {
  width: min(95vw,500px);
  @apply flex flex-col items-start
}

.auth__container__close {
  transition: var(--transition-1);
  color: var(--t-3);
  @apply flex 
  text-sm font-semibold
  items-center ml-auto p-3

}

.auth__container__close:hover {
  background-color: var(--bg-2);
  color: var(--t-1);
}

.email__banner {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  background-color: var(--bg-2);
  @apply flex flex-col items-center
  justify-center w-full py-12 
  ;
}

.email__banner h2 {
  color:var(--t-2);
  font-weight: 700;
  font-size: 28px;
}

.email__banner h6 {
  color: var(--t-3);
  @apply 
  mt-4 
  font-medium
  text-[15px];
}

.email__input{
  border: 1px solid var(--bg-4);
  box-shadow: inset 0px 0px 1px 0px rgba(248, 248, 248, 0.418);
  color: var(--t-2);
  background-color:var(--bg-3);
@apply flex-auto p-3.5 text-sm
rounded-md sm:max-w-[280px] 
}

.email__input:focus{
  outline:1px solid var(--accent);
}
.email__button {
  transition: var(--transition-1);
  color: var(--t-2);
  background-color: var(--bg-3);
  border:1px solid transparent;
  box-shadow: inset 0px 0px 1px 0px rgba(248, 248, 248, 0.418);
@apply p-3.5 text-sm
rounded-md font-bold
}
.email__button:hover {
  border: 1px solid var(--bg-4);
}
.title {
  background-color:transparent;
  font-size: var(--f1);
  color:var(--t-1);
  font-weight: 700;
  @apply leading-tight w-full 
  text-center
}

.hero {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  height: 320px;
  background-color:var(--bg-2);

  @apply flex w-full flex-col items-center
  justify-center

}
.subheading {
  background-color: transparent;
  font-size:24px;
  color: var(--t-1);
}
.sale__container {
  height: 200px;
  width: 100vw;
  padding-right:var(--p1); 
  padding-left:var(--p1);
  background-color: var(--bg-2);
  @apply flex flex-row items-center
  ;
}
.sale__container.light {
  background-color: var(--bg-1);
}
.sale {
  width:100%;
  row-gap: 1rem;
  @apply grid grid-cols-1 sm:grid-cols-2

}

.sale__left {
  @apply flex flex-col items-center
   gap-1
}
.sale__left > h4 {
  font-size: 24px;
  color: var(--t-1);
  @apply font-semibold 
}
.sale__left > span {
  color: var(--t-3);
  @apply font-normal text-sm
}
.sale__right {
  margin: 0 auto;
 
  @apply grid grid-cols-4 
}
.sale__right__box {
  
  @apply flex flex-col px-3
}
.sale__right.light {
  row-gap: 1rem;
  @apply lg:grid-cols-4 grid grid-cols-2
}
.sale__right__box > h4 {
  color: var(--t-1);
  @apply text-xl font-semibold
}

.sale__right__box > h6 {
  color: var(--t-1);
  @apply text-xs font-semibold
}

.button__ {
  color: var(--t-3);
  @apply flex flex-row items-center flex-nowrap
  gap-2 text-sm
}

.product__container {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  width: 100%;
  @apply grid grid-cols-1 sm:grid-cols-2
  lg:grid-cols-3 lg:gap-6 sm:gap-4
}
.theme__button {
transition: var(--transition-1);
  @apply ml-auto px-3 py-3 
  mx-2 relative
  rounded-md
}

.theme__button:hover,.search__button:hover {
  background-color: var(--bg-3);
}

.theme__button__menu{
  z-index: 10;
  top:42px;
  left: -86px;
  background-color: var(--bg-1);
  color: var(--t-1);
  border: 1px solid var(--bg-4);
  @apply hidden flex-col p-1
  items-start absolute rounded-md
}

.theme__button__menu>button {
  color: var(--t-1);
 
  transition: var(--transition-1);
  width: 118px;
  @apply text-sm cursor-pointer
  px-2 py-1.5 text-left 
  rounded-sm
}
.theme__button__menu>button:hover {
background-color: var(--bg-3);
}
.theme__button__menu[data-state="true"]{
  display: flex;
}
.container__ {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply flex flex-row 
  gap-4 w-full justify-between
}

.context__consumer {
  width: 100vw;
  min-height: 100dvh;
  background-color: var(--bg-1);
  flex: 1 1 auto;
  @apply flex flex-col items-center
}
.not__found {
  padding-right:var(--p1); 
  padding-left:var(--p1);
  min-width: 100vw;
  min-height: 100dvh;
  @apply flex flex-col 
  justify-center items-center
  flex-auto gap-2
}

.not__found span {
  text-align: center;
  color: var(--t-3);
  width: min(500px,90vw);
}

.faq__{
  padding-right:var(--p1); 
  padding-left:var(--p1);
  @apply 
  items-center gap-4
  flex flex-col 
}

.faq__about {
  max-width: 652px;
  @apply flex flex-col items-start
  gap-3
}
.faq__about > h2 {
  
}